figure{
    margin: 0;
}
#footer {
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

.bd-indigo-200{
    background-color:#6ea8fe;
}
.main_header{
    height: 56px;
}
#header{
    height: 100%;
}

header ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    height: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content:center;
}
.background-custom{
    background-color: rgb(3,143, 244)
}

body{
    height: 100vh !important;
}
.main_buttons{
    width: 109px; 
    height: 33px;
    border-bottom: 2px solid #f1f1f1;
    font-weight: 600;
    color: #f1f1f1;
    padding: 0;
    padding-top: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 31px;
}

#navbarSupportedContent{
    height: 100%;
    padding: 0 12%;
}

.container_custom_css{
    height: 100%;
}

.main_buttons:hover{
    background-color: transparent;
    color: white;
}
.active_menu{
    border-bottom: 2px solid #f1f1f1;
}
.active_menu:hover{
    color: white;
}
.active_menu_title{
    font-size: 25px;
    color: #535353;
    margin: 0;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

header{
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 3;
}

/****************  Contenido Principal  ****************/


/* Panel lateral Izquierdo */
.fila_lateral{
    cursor: pointer; 
    transition: .3s; 
    transition-timing-function: linear;  
    height: 60px;
    margin-right:40px;
    border-radius: 8px;
    margin-top:6px;
}
.fila_lateral:hover{
    background-color:  #e8eaed; 
    transition: 0.2s;
}
.lateral_panel-icon{
    height: 40px;
    margin: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.fila_lateral label{
    font-size:19px;
    font-weight: 500;

}

.lateral_panel-icon img{
    height: 90%;
}

#logout_lateral_icon-image{
    height: 85%;
    margin-top: 12%;
    margin-right: 2px;
    margin-left: 2px;
}


.left_panel-container{
    position: relative;
    z-index: 1;

    
}
.left_options_container{
    width: 324px;
    height: 361px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212);
    border-radius:23px;
    padding-top:30px;
    padding-left:28px;
    background-color: #F8F8F8;
    margin-left:13px;
}
.logo_left_container{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212);
    border-radius: 23px;
    margin: 28px 0 17px 13;
}


/* Estilos del menú Principal. */
.main_menu-container{
    margin: 18px 131px 5% 30px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.212);
    width:867px;
    height: 539px;
    border-radius: 23px;
    padding: 0 143px;
}

.menu_button{
    margin-bottom: 63px;
    cursor: pointer;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 178px;
    height: 162px;
    justify-content: center;
    border-radius:28px;
}


.main_buttons-title{
    text-decoration: none;
    cursor: pointer;
    color: #3D3D3D;
    font-weight: 500;
    font-size: 22px;

    margin-top: 7px;
    margin-bottom: -8px;
}


.main_logo{        
    width: 230;
    height: 73;
    margin: 18 61px 19 28px;
}

#vender_btn-icon{
    height: 74px;
    width: 84px;
}



#info_image{
    height: 74px;
    width: 74px;
}



#inventory_image{
    height: 74px;
    width: 74px;
}
/* ESTILOS DE LA PLANTILLA DE VENTAS */
.menu_icon_title{
    height: 34px;
    width: 36px;
    margin-right: 11px;
}
.menu_title_container{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 26px;
    margin-bottom:40px;
}

.menu_buttons_container{
    display: flex;
    justify-content:center;
}

.back_button-container{
    height: 60px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.back_button-container:hover{
    transform:scale(1.2)
}
.back_button-container img{
    height: 100%;
}
.menu_principal_container{
    --bs-gutter-x: initial;
}

/* Barra de búsqueda */
.search_wrapper{
    width: 60%;
}

.recomendaciones_drop{
    width: 83%;
}


/* ESTILOS DEL INVENTARIO */
.inventory_container{
    height: 539px;
    width:867;
    margin: 18px 131px 5% 30px;
    padding: 0 53px 56px 72px ;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 21%);
    border-radius: 23px;
    --bs-gutter-x: initial;
    --bs-gutter-y: initial;
    flex: initial;
    position: relative;
}
.inventory_title_container img{
    width:36px;
    height:34px;
    margin-top: 15px;
    margin-right: 13px;
}
.inventory_title_container{
    display: flex;    
    align-items:center;
    justify-content:center;
}
.inventory_title_container h2{
    font-size: 25px;
    color: #535353;
    margin-right:25px;
}
.inventory_wrapper_styles{
    --bs-gutter-x: initial;
    --bs-gutter-y: initial;
    flex-wrap: nowrap;
}
.inventory_input-container div{
    width: 80%;
}
#inventory_search_input{
    height: 32px;
    width: 421px;
    flex: initial;
    font-size: 14px;
}
.inventory_input-container{
    display: flex;
    justify-content: center;
    height:32px;
}
#input_group_styling{
    width:70%;
}
#inventory_search_btn{
    padding: 0.75% 1.7%;
    font-size: 14px;
}
@media screen and (min-width: 1400px){
    .recomendaciones_drop{
        width: 85%;
    }
}


@media screen and (max-width: 1024px){
    .search_wrapper{
        width: 75%;
    }

}

@media screen and (max-width: 768px){
    .recomendaciones_drop{
        width: 75%;
    }
}

body{
    background-color: #f8f9fa;
}

.custom_spinner-css{
    height: 28px;
    width: 28px;
    opacity: 0;
}
.custom_spinner-css span{
    height: inherit;
    width: inherit;
}

.btn_cerrar_venta-container{
    width: 100%;
    padding-right: 5%;
    flex-direction: column;
    align-items: center;
}
.printing-signal{
    height: 10px;
    width: 10px;
}
.printing-advice{
    margin-left: 22px;
    opacity: 0;
}

#logout_icon{
    height: 25px;
    width: 25px;
    margin-bottom: 2px;
}

#inventory_table_container{
    max-height: 365px;
    overflow: scroll;
}
.table_container{
    max-height: 246px;
    overflow: auto;
}

/* ESTILOS DEL INVENTARIO */
.db_edit_icon{
    height: 17px;
    cursor: pointer;
}

.db_add_icon{
    height: 17px;
    cursor: pointer;
}

.db_delete_icon{
    height: 17px;
    cursor: pointer;
}

l.search_result-item{
    display: flex;
    justify-content: space-between;
}

.prediction_1, .prediction_2, .prediction_3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prediction_1, .prediction_2, .prediction_3 p{
    margin: 0;
}

ul li p{
    margin: 0;
}


















/*************************  ESTILOS PARA PRUEBA DEL TICKET  **************************/
body{
    margin: 0;
}
.ticket_container_prueba{
    height: 400px;
    width: 200px;
    background-color: white;
    z-index: 3;
    position: absolute;
    left:0;
    top: 0;
    
    
}

/*ESTILOS DEL TICKET*/

.ticket_wrapper{
    position: relative;
    min-height: 288px;    
}

.fecha_venta{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticket_title{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.ticket_location{
    font-size: 12px;
    margin: 0;
}

.ticket_date{
    font-size: 14px;
    margin: 0;
}

.detalles_venta{
    display: flex;    
    padding: 0 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 14px;
}

.detalles_venta h6{
    font-size: 14px;
    margin: 0;
}

.ticket_product_component{
    border-bottom: 1px solid black;
    padding: 0 10px;
    display: flex;
    font-size: 14px;
}

.cantidad_container{
    width: 25%;
}
.producto_container{
    width: 60%;
}

.precio_container{
    width: 15%;
    text-align: right;
}
.facturacion_ticket{
    display: flex;
    font-size: 14px;
    height: 31px;
}
.facturacion_titulo{
    width: 85%;
    text-align: center;
    padding-left: 10px;
}
.ticket_footer{
    font-size: 14px;
    text-align: center;
}
.ticket_el_cielo{
    font-size: 13px;
    margin: 0;
}
.ticket_agradecimientos{
    margin: 0;
}

.cant_container{
    width: 25%;
}
.prod_container{
    width: 60%;
}

.prec_container{
    width: 15%;
}

.facturacion_wrapper{
    position: relative;
    bottom: 0;
    margin-bottom: 10px;
}


.no-display{
    display: none;
}
.ticket_logo img{
    height: 117px;
}

.ticket_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.total p{
    margin: 0;
}

#seleccion{
    position: absolute;
}

.accordion_custom_css{
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

#myChart{
    height:310px !important;
}

/* ESTILOS DE LA PESTAÑA CREAR PRODUCTO*/
#add_produt_tab_icon{
    height: 44px;
    width:44px;
}

.reabastecer-btn{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    color: #B15F17;
}
    
.add_product_title h3{
    color: #535353;
    font-size: 25px;
    font-weight: 600;
    margin-right: 50px;
}
.add_product_title a{
    color: #1777B1;
}

#productName{
    height: 29px;
    width: 230px;
    border-radius: 6px;
    border: 2px solid #8CABAE;
    margin-left: 50px;
}

#productCodeBar{
    height: 29px;
    width: 230px;
    border-radius: 6px;
    border: 2px solid #8CABAE;
    margin-left: 57px;
}

#productBuyingPrice{
    height: 29px;
    width: 101px;
    border-radius: 6px;
    border: 2px solid #8CABAE;
    margin-left: 88px;
}
#productSellingPrice{
    height: 29px;
    width: 101px;
    border-radius: 6px;
    border: 2px solid #8CABAE;
    margin-left: 105px;
}

#productInStock{
    height: 29px;
    width: 101px;
    border-radius: 6px;
    border: 2px solid #8CABAE;
    margin-left: 64px;
}

#productBrand{
    height: 29px;
    width: 101px;
    border-radius: 6px;
    border: 2px solid #8CABAE;
    margin-left: 24px;
}

#add_btn{
    width: 222px;
    height: 45px;
    background-color: #F67C2D;
    border: none;
    border-radius: 5px;
    color: #F5F5F5;
    font-size: 20px;
    font-weight: 500
}

#send_medicines_form label{
    font-size: 18px;
    color: #535353;
    font-weight: 500;
}

.añadir_productos_contenedor{
    margin-top: 56px;
    padding-left: 74px;
}
.add_item_right{
    margin-left: 44px;
}
.send_medicines_btn_container{
    display: flex;
    justify-content:center;
    margin-right: 146px;
    margin-top: 71px;
}

.form_item{
    margin-top: 20px; 
}


/*ESTILOS DEL FOOTER*/
footer p{
    color: rgb(219, 219, 219);
    margin: 0;
    font-weight: 500;
}

footer p:hover{
    color: rgb(219, 219, 219);
}